@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  line-height: 2;
  font-family: "Quicksand", sans-serif;
}

:root {
  --hei-white: #ffffff;
  --hei-blue: #011948;
  --hei-gold: #dfa408;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.animate-fade-in {
  animation: fadeIn 2s ease-in forwards;
}

.animate-fade-in-delayed {
  animation: fadeIn 2s ease-in 1s forwards;
}
